.auth{
    max-width: 30rem;
    @include flex(center, flex-start, column);
    h1{
        margin-bottom: 0rem;
    }
    a{
        text-decoration: underline;
        &.active{
            display: none;
        }
    }
}


.login, .register{
    @include flex(center, center, column);
    button{
        margin: 2rem 0 1rem;
        width: 100%;
        background: $color-blue;
        border: 2px solid $color-blue;
    }
    
}
