$lighter-main: #0b92e6;
$color-dark: #222;
$color-grey: #6d6c6c;
$color-lightgrey: #dbdbdb;
$color-smoke: #f6f6f6;
$color-blue: #0070ba;

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@import "global";
@import "utilities";

// components
@import "../components/checkout/confirm";

// pages
@import "../components/account/account";
@import "../components/admin/admin";
@import "../components/auth/auth";
@import "../components/checkout/checkout";
