.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 1rem;
}

.product-card{
    width: 100%;
    margin-bottom: 1rem;
}

.product-img{
    position: relative;
    height: 300px;
    @include flex(center, center, row);
    background: $color-smoke;
    border-radius: 20px;
    img{
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    } 
    svg{
        position: absolute;
        z-index: 9999;
        top: 0;
        right: 0;
        background: white;
        margin: 0.5rem;
        padding: 0.3rem;
        border-radius: 50%;
        color: $color-dark;
    }
}

.product-info{
    h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0.5rem 0rem 1rem 0rem;
    font-size: 1rem;
    font-weight: lighter;
    span{
        display: block;
        color: var(--color-text)
        }
    }
}
