.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2rem;
}

.product-card{
    width: 100%;
    margin-bottom: 1rem;
    a{
        @include flex(center, center, column)}
}

.product-img{
    position: relative;
    height: 300px;
    @include flex(center, center, row);
    background: $color-smoke;
    img{
        max-width: 90%;
        object-fit: cover;
    } 
    svg{
        position: absolute;
        z-index: 9999;
        top: 0;
        right: 0;
        background: white;
        margin: 0.5rem;
        padding: 0.3rem;
        border-radius: 50%;
        color: $color-dark;
    }
}

.product-info{
    margin-top: 1rem;
    h3, p{
        text-align: center;
        font-size: 1rem;
    }
    p:last-child{
        color: $color-grey;
    }
    h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    }
}
