.cart-container{

    button{
        width: 100%;
    }
}

.cart-item{
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}

.cart-item-img{
    width: 150px;
    height: 150px;
    @include flex(center, center, row);
    background: #f0f0f0;
    margin-right: 1rem;
    img{
    width: 100%;
    object-fit: cover;
    }
}
.cart-item-about{
    display: flex;
    justify-content: space-between;
    width: 70%;
    h3{
        font-size: 1rem;
        margin-bottom: 0rem;
    }
    p{
        color: $color-grey;
    }
}

.cart-item-details{
    @include flex(flex-start, flex-start, column);
}

.cart-item-quantity{
    @include flex(center, center, row);
    margin-top: 2rem;
    border: 1px solid $color-grey;
    input{
        text-align: center;
        width: 30px;
        font-size: 1rem;
        border: none;
        padding: 0rem;
        margin: 0rem;
    }
    a{
        padding: 0rem 0.5rem;
        text-align: center;
        font-weight: bold;
    }
}

.cart-item-price{
    display: flex;
    flex-direction: row;  
    p{
    color: black;
    }
    a{
    color: $color-grey;
    margin-left: 1rem;
    }
}