.header-container{
    width: 100%;
    margin: auto;
    max-width: 1080px;
    margin: auto;
    padding: 1rem;
    border-bottom: 1px solid $color-grey;
    flex: 1;
    @include flex(space-between, center, row);
    ul{
        @include flex(space-between, center, row);
        gap: 1.5rem;
        @media (max-width: 850px) {
            display: none;
        }
    }
    a h1{
        margin-bottom: 0;
        font-size: 1.2rem;
    }
}
.burger{
    font-size: 2rem;
    margin-left: 1rem;
    display: none;
    @media (max-width: 850px) {
        display: block;
    }
}
.header-tools{
    @include flex(space-between, center, row);
    svg{
        padding: 0.5rem;
    }
}

.svg-icon{
    height: 40px;
    width: 35px;
    position: relative;
    @include flex(center, center, row);
    span{
        @include flex(center, center, row);
        z-index: 9999;
        top: 10%;
        right: 0;
        border: 2px solid white;
        height: 18px;
        width: 18px;
        text-align: center;
        border-radius: 50%;
        background: $color-blue;
        color: white;
        font-size: 0.6rem;
        position: absolute;
    }
}

.header-container.home{
    border-bottom: none;
}

.header-second{
    width: 100%;
    margin: auto;
    @include flex(center, center, row);
    background: $color-smoke;
    @media (max-width: 850px) {
        display: none;
    }
}

.header-second-msg{
    @include flex(space-between, center, row);
    max-width: 1080px;
    width: 100%;
    padding: 0.25rem 1rem;
    p{
        font-weight: bold;
        color: #666666;
        font-size: 0.7rem;
    }
    p span{
        color: $color-blue;
    }
}

