.product-detail-img{
    @include flex(center, center, row)
}

.product-detail-img{
    min-height: 60vh;
    background: $color-smoke;
    flex: 2;
    img{
        max-width: 90%;
    }
}

.product-detail-about{
    h2{
        font-size: 1.2rem;
        font-weight: 600;
    }
    h1{
        font-size: 1.8rem;
        margin-top: 1rem;
        line-height: 100%;
    }
    p:nth-child(3){
        margin: 3rem 0;
        font-size: 1.6rem;
    }
    p{
        margin-top: 2rem;
    }
}