$color-main: #713a83;
$darker-main: #1a1943;
$color-dark: #222;
$color-grey: #747474;
$color-smoke: #f6f6f6;

@mixin flex($justify, $align, $direction){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@import "global";
@import "utilities";
@import "../components/layout/header";
@import "../components/layout/footer";
@import "../components/product/product";

@import "./pages/productDetail";
@import "./pages/cart"; 
@import "./pages/auth"; 
@import "./pages/home"; 


@import "profile";

